body {
    background: url(../img/Design\ sans\ titre.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#topDiff {
    display: none;
    transition: opacity 1s ease;
}

#gpdance {
    width: 700px;
    height: 450px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#playButton {
    width: 250px;
    height: 250px;
    transition: opacity 1s ease;
}

section h1 {
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 36px;
    padding: 10px;
}
